services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama-engine
    volumes:
      - ./ollama_data:/root/.ollama
    ports:
      - "11434:11434"


  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant-db
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_data:/qdrant/storage
